
#jobList{
	overflow: auto;
	/*border: 2px solid blue;*/
	max-height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*border: 2px solid grey;*/
	font-family: 'Niramit', sans-serif;
	/*background-color: rgba(44, 62, 80,.1);*/
	background-color: rgba(249, 249, 249,.1);

}

#jobEntry{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	padding: 2%;
	padding-left: 1.5%;
	/*padding-top: 0%;*/
	color: #fff;
	background-color: #2c3e50;
	font-family: 'Niramit', sans-serif;
	/*border-right: 5px solid #252525;*/
	box-shadow: 6px 0 10px -2px grey;

}

.form-control{
	/*opacity: .8;*/
}


.leftDiv{
	margin: 15px;
	padding: 10px;
	background-color: rgba(249, 249, 249,.5);
	color: #f8fbf9;
	border-radius: 5px;
	transition: all 2s ease-in-out;
	cursor: pointer;
	list-style: none;
}


.effect7
{
	/*position: relative;*/
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(238, 247, 252, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    z-index:-1;
    /*position: absolute;*/
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    /*border-radius:100px / 10px;*/
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.changeLeftDivBg{
	background-color: rgba(231, 76, 60,.9);
	text-decoration: line-through;
}

.company{
	color: #2c4552;
	display: inline-block;
	font-weight: 500;
	font-size: 60px;
	margin-bottom: 20px;
	text-decoration: underline;
	text-decoration-color: yellow;
}

.closeBtn{
	display: inline-block;
	float: right;
	margin: 10px;
	border-radius: 0px;
}

.date{
	color: #2c4750;
}

.title{
	color: #2c4750;
}

.notes{
	width: 62%;
	height: 100px;
	border-radius: 5px;
	background-color: #f3f3f3;
	opacity: .7;
}


.bg-1{
	background-color: #a8dbd9;
}

.btn-green{
	background-color: #62cc69;
	color: #fff;
	margin-top: 10px;
}

.btn-yellow{
	background-color: #f8de41;
	color: #8a8b1b;
}

.form-wrapper{
	width: 90%;
	display: inline-block;
	/*padding-top: 5%;*/
}

.side-nav{
	width: 8%;
	display: inline-block;
	/*border: 1px solid white;*/
}


.menu {
  position: fixed;
  height: 100%;
  width: 20px;
  padding-top: 2%;
  background: #2c3e50;
  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;
}

.menu:hover {
  width: 220px;
}

.menuItem span {
  position: absolute;
  left:80px;
  top:20px;
  transition:color 1s;
  color:rgba(255,255,255,0);
}

.menu:hover .menuItem  span {
 color:rgba(255,255,255,1);
}

.menuItem {
  position: relative;
  padding: 20px;
  transition:border .5s, background .2s;  
}

.menuItem:hover {
  background: #34495e;
  cursor: pointer;
}

.uno {
  border-left:7px solid #16a085;
}

.uno:hover{
  border-left:20px solid #16a085;
}

.dos {
 border-left:7px solid #2980b9;
}

.dos:hover {
 border-left:20px solid #2980b9;
}

.tres {
  border-left:7px solid #8e44ad;
}

.tres:hover {
  border-left:20px solid #8e44ad;
}

.cuatro {
  border-left:7px solid #e67e22;
}

.cuatro:hover {
  border-left:20px solid #e67e22;
}

.cinco {
 border-left:7px solid #e74c3c;
}

.cinco:hover {
 border-left:20px solid #e74c3c;
}







