
#jobList{
	overflow: auto;
	/*border: 2px solid blue;*/
	max-height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*border: 2px solid grey;*/
	font-family: 'Niramit', sans-serif;

}

#jobEntry{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	padding: 2%;
	color: #fff;
	background-color: #397fdf;
	font-family: 'Niramit', sans-serif;
	/*border-right: 5px solid #252525;*/
	box-shadow: 6px 0 10px -2px grey;

}

.form-control{
	/*opacity: .8;*/
}


.leftDiv{
	margin: 15px;
	padding: 10px;
	/*border: 1px solid #707070;*/
	background-color: #9cdfa0;
	color: #616161;
	box-shadow: 0 8px 6px -6px grey;
}

.company{
	/*color: #8c9ba5;*/
	display: inline-block;
	font-weight: 600;
}

.closeBtn{
	display: inline-block;
	float: right;
	margin: 10px;
	border-radius: 0px;
}

.date{
	/*color: #8c9ba5;*/
}

.notesLabel{
	/*color: #8c9ba5;*/
}

.notes{
	width: 70%;
	height: 100px;
	border-radius: 0px;
	background-color: #f3f3f3;
	opacity: .6;
}


.bg-1{
	background-color: #a8dbd9;
}

.btn-green{
	background-color: #62cc69;
	color: #fff;
	margin-top: 10px;
}

.btn-yellow{
	background-color: #e6e600;
	color: #878787;
}









